*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Ubuntu;
    background-image: url(../images/96735d1b2b7cb5551cc3faceee074127.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.header{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 58px;
    color: #fff;
    display: flex;
}

.header-tittle{
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin-left: 79px;
    margin-top: 16px;
    display: inline-block;
    transition: color 0.3s ease;
}

.header-tittle:hover{
    color: #236d47;
}

.header-icons-container{
    margin-left: auto;
    margin-right: 53px;
}

.header-icons{
    width: 126px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.header-svg path{
    transition: fill 0.3s ease;
}

.header-svg:hover path{
    fill: #236d47;
}

.header-subtittle-container{
    margin-top: 20px;
    position: relative;
    margin-right: 79px;
}

.header-subtittle-container::before {
    content: "";
    position: absolute;
    left: -27px;
    transform: translateY(-5%);
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.90);
}

.header-subtittle{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.header-subtittle-link{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
}

.header-subtittle-link:hover{
    color: #236d47;
}

.main-form{
    width: 444px;
    height: 584px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main-form::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3CB878;
    top: 29px;
    transform: translateY(-50%);
}

.form-upper-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    top: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 324px;
}

.form-signup{
    display: inline-block;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
}

.form-login{
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.form-login::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 0.5px;
    background-color: #01813F;
    transition: width 0.3s ease;
}

.form-login:hover::after {
    width: 100%;
}

.form-login:hover{
    color: #01813F;
}

.form-buttons-container{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    width: 324px;
}

.form-button{
    width: 160px;
    height: 48px;
    position: relative;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 45px;
    cursor: pointer;
}

.form-button::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

.facebook{
    background-color: #305DB8;
    transition: all 0.3s ease;
}

.facebook:hover{
    background-color: #022263;
}

.google{
    background-color: #DF4A32;
    transition: all 0.3s ease;
}

.google:hover{
    background-color: #AB1F09;
}

.facebook img{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 11px;
    top: 12px;
}

.google img{
    width: 30px;
    height: 19px;
    position: absolute;
    left: 11px;
}

.form-separator{
    width: 15px;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    margin-top: 31px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.form-separator::before,
.form-separator::after{
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    top: 50%;
    transform: translateY(-50%);
}

.form-separator::before{
    left: -162px;
}

.form-separator::after{
    right: -162px;
}

.form-inputs-container{
    width: 322px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.input-item{
    width: 322px;
    height: 44px;
    margin-bottom: 16px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    color: #434343;
}

.input-item:focus{
    outline: none;
    border: none;
    box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.34);
}

.input-item::placeholder{
    color: #BEBEBE;
}

.form-checkbox-container{
    width: 269px;
    margin-left: 62px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.input-checkbox{
    display: none;
}

.custom-checkbox-label{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.custom-checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    vertical-align: middle;
    position: relative;
}

.custom-checkbox::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/Vector1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}

.input-checkbox:checked + .custom-checkbox::before{
    transform: translate(-50%, -50%) scale(1);
}

.label-checkbox{
    line-height: 14px;
    cursor: pointer;
}

.form-checkbox-container a{
    text-decoration: none;
    color: #3CB878;
    position: relative;
}

.form-checkbox-container a::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.5px;
    background-color: #01813F;
    transition: width 0.3s ease;
}

.form-checkbox-container a:hover::after {
    width: 100%;
}

.form-checkbox-container a:hover{
    color: #01813F;
}

.form-submit-button{
    display: block;
    width: 324px;
    height: 46px;
    background-color: #3CB878;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}

.form-submit-button:hover{
    background-color: #01813F;
}

.main-form.dark-theme {
    background-color: #ffffff6a;
    color: #ffffff;
}

.change-wrapper{
    position: relative;
    margin: 10px 46%;
    align-items: center;
}

#theme-toggle{
    border: none;
    border-radius: 3px;
    background-color: #01813F;
    height: 40px;
    width: 115px;
    cursor: pointer;
}